<% if user_signed_in? %>
    <a href="#" class="btn btn-dark btn-sm">
      Добро пожаловать, <%= current_user.email %>
    </a>
    <%= link_to 'Выход', destroy_user_session_path,
                method: :delete,
                class: "btn btn-dark btn-sm" %>
    <%= link_to 'Редактирование', edit_user_registration_path,
                class: "btn btn-dark btn-sm" %>
<% else %>
    <%= link_to 'Вход', new_user_session_path,
                class: "btn btn-dark btn-sm" %>

    <%= link_to 'Регистрация', new_user_registration_path,
                class: "btn btn-dark btn-sm" %>
<% end %>
