<h2 style="color: #B00100; margin: 0 auto">edit <%= @item.name %></h2> <br/>


<%= form_tag item_path(@item), method: :put do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, @item.name %>
  <%= label_tag :price %>
  <%= text_field_tag :price, @item.price %>
  <%= submit_tag "Update", class: "btn btn-large btn-primary" %>
<% end %>

<%= render partial: 'shared/email' %>