<div class="col-sm-12 my-auto">

  <h2 style="color: #B00100; margin: 0 auto">create new item</h2> <br/>

  <%= simple_form_for @item do |f| %>
    <%= f.input :name, label: 'Name', input_html: {class: "form-text"} %>
    <%= f.input :price, label: 'Price', input_html: {class: "form-text"}, required: true %>
    <%= f.input :description, label: 'Description', input_html: {class: "form-text"} %>

    <%= f.button :submit, class: "btn-primary" %>
  <% end %>

  <%= render partial: 'shared/email' %>

</div>