<h2 style="color: #B00100; margin: 0 auto">show item</h2> <br/>


<h4><%= @item.name %></h4>

<ul>
  <li>Price: <%= @item.price %> $ </li>
  <li>Weight: <%= @item.weight %></li>
  <li>Description: <%= @item.description %></li>
</ul><br/>

<%= link_to "edit #{@item.name}", edit_item_path %><br/>
<%= button_to "delete #{@item.name}", item_path(@item), method: :delete %>
<%= link_to "index", items_path %><br/>