<!DOCTYPE html>
<html>
  <head>
    <title>RailsCourse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2 style="color: #B00100;">Admin Panel</h2>
    <%= yield %>
  </body>

  <footer>
    <p>По всем вопросам пишите на почту: sansashadev@gmail.com</p>
  </footer>
</html>
